*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #04635c;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper{
  padding-top: 40px;
  padding-bottom: 40px;
}

.container{
  max-width: 800px;
  margin: 0 auto;
}

/* ul{
  list-style: none;
} */

/* li{
  padding-top: 4px;
  padding-bottom: 4px;
} */

a{
  color: #d1e7dd;
}

h1{
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
